<template>
    <main>
        <h1>Register</h1>

        <form class="form" @submit.prevent="submit" @input="$event.target.setCustomValidity('')">

            <label>Email</label>
            <input v-model.trim="email" type="email" required maxlength="100" ref="email" v-focus>

            <label>Password</label>
            <input v-model.trim="password" type="password" required maxlength="100" ref="password">

            <label>Name</label>
            <input v-model.trim="name" type="text" required maxlength="100">

            <label>Field of Study</label>
            <select v-model="fieldOfStudy" required>
                <option value="" disabled>Select Field of Study</option>
                <option value="Accounting and finance">Accounting and finance</option>
                <option value="Internet Technology">Internet Technology</option>
                <option value="Marketing and sales">Marketing and sales</option>
                <option value="Marketing">Marketing</option>
                <option value="Arts and design">Arts and design</option>
                <option value="Law">Law</option>
            </select>

            <label>Level of Studying</label>
            <select v-model="levelOfStudying" required>
                <option value="" disabled>Select Level of Studying</option>
                <option value="Foundation">Foundation</option>
                <option value="Diploma">Diploma</option>
                <option value="Degree">Degree</option>
                <option value="Master">Master</option>
                <option value="PhD">PhD</option>
            </select>
            
            <label>Photo</label>
            <input type="file" id="file" accept="image/*" required @change="change" ref="file">

            <br>
            <label for="file">
                <img class="photo" :src="src">
            </label>

            <section>
                <button>Submit</button>
                <button @click.prevent="reset">Reset</button>
                <button @click.prevent="$router.push('/')">Cancel</button>
            </section>
        </form>
    </main>
</template>

<script>
    app.component({
        data: () => ({
            email: '',
            password: '',
            name: '',
            fieldOfStudy: '',
            levelOfStudying: '',
            photo: null,
            location: null,
            locationError: '',
        }),

        computed: {
            src() {
                return this.photo ? URL.createObjectURL(this.photo) : 'image/photo.png';
            },
        },

        methods: {
            change(e) {
                const el = e.target;
                const f = el.files[0];

                el.setCustomValidity('');

                if (!f) {
                    this.photo = null;
                    return;
                }

                crop(f, 150, 150, 'blob', 'image/webp')
                    .then(blob => this.photo = blob)
                    .catch(err => {
                        this.photo = null;
                        el.setCustomValidity('Invalid photo.');
                    });
            },
            reset() {
                this.email = '';
                this.password = '';
                this.name = '';
                this.fieldOfStudy = '';
                this.levelOfStudying = '';
                this.photo = null;
                this.location = null;
                this.locationError = '';
                this.$refs.file.value = '';
                this.$refs.email.focus();
            },
            submit() {
                if (!this.location) {
                    this.locationError = 'Location permission is required to register.';
                    return;
                }

                this.$root.block();

                AUTH
                    .createUserWithEmailAndPassword(this.email, this.password)
                    .then(credential => {

                        const user = this.$root.user;

                        user.updateProfile({ displayName: this.name });

                        STORAGE
                            .ref('photos')
                            .child(user.uid + '.webp')
                            .put(this.photo)
                            .then(snap => snap.ref.getDownloadURL())
                            .then(url => user.updateProfile({ photoURL: url }))
                            .then(_ => {
                                // TODO: Set displayName and photoURL
                                USERS.doc(user.uid).set({
                                    displayName: this.name,
                                    fieldOfStudy: this.fieldOfStudy,
                                    levelOfStudying: this.levelOfStudying,
                                    photoURL: user.photoURL,
                                    location: this.location,
                                });
                            });

                        this.$root.unblock();
                        this.$router.push('/');

                    })
                    .catch(err => {

                        this.$root.unblock();
                        handleError(err, this.$refs.email, this.$refs.password);

                    });
            },
            requestLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        position => {
                            this.location = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                        },
                        () => {
                            this.locationError = 'Geolocation service failed. Please allow location access to register.';
                        }
                    );
                } else {
                    this.locationError = "Your browser doesn't support geolocation.";
                }
            },
        },


        created() {
            document.title = 'Firebase Chat : Register';
            this.requestLocation();

        },
    });
</script>